
@page
@model Gameapp.Areas.Shop.Pages.Orders.OrdersModel
@inject Gameapp.Data.GamesContext _db
@using Gameapp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity.UI.V4.Pages.Account.Manage.Internal
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.EntityFrameworkCore
@using Microsoft.Extensions.Localization

@inject Gameapp.Data.GamesContext _context
@inject UserManager<ApplicationUser> _userManager
@{

    var SubscriptionsIsNull =
        _context.Subscriptions
        .Include(q => q.Plan)
        .Where(s => s.ShopId == _userManager.FindByNameAsync(User.Identity.Name).Result.EntityId)
        .OrderBy(i => i.Id).LastOrDefault();

        if (SubscriptionsIsNull == null || SubscriptionsIsNull.Active == false || SubscriptionsIsNull.EndDate.Date < DateTime.Now.Date)
        {
            Response.Redirect(Url.Content("~/shop/denied"));
        }
}



<div class="card">
    <div class="card-header">
        <h3 style="margin-top:9px; color:#4b49ac"> @sharedResource["Orders"] </h3>
    </div>
    <div style="padding-top:20px;padding-left:20px;padding-right:20px">
        @(Html.DevExtreme().DataGrid<Gameapp.Models.Order>()
        .DataSource(ds => ds.Mvc()
        .Controller("Orders")
        .LoadAction("GetOrdersforshop")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("OrderId")
        )
        .RemoteOperations(true)
        .Columns(columns =>
        {
        columns.AddFor(m => m.Customer.CustomernameAr).Caption(sharedResource["Customer"]).Visible(Model.ArLang);
        columns.AddFor(m => m.Customer.CustomernameEn).Caption(sharedResource["Customer"]).Visible(!Model.ArLang);
        columns.AddFor(m => m.Customer.Customerphone).Caption(sharedResource["Phone"]);
        columns.AddFor(m => m.IsDeliverd).Caption(sharedResource["Delivered"]).AllowEditing(true);
        columns.AddFor(m => m.PaymentMehodPaymentMethod.PaymentMethodName).Caption(sharedResource["PaymentMethod"]);
        columns.AddFor(m => m.Deliverycost).Caption(sharedResource["deliverycost"]);
        columns.AddFor(m => m.OrderDiscount).Caption(sharedResource["Discount"]);
        columns.AddFor(m => m.shop.ShopTlar).Caption(sharedResource["Shop"]).Visible(Model.ArLang);
        columns.AddFor(m => m.shop.ShopTlen).Caption(sharedResource["Shop"]).Visible(!Model.ArLang);
                               
                            
        columns.Add().Caption("Actions").Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
        <a href="/Shop/Orders/OrderDetails?id=<%- data.OrderId %>">@sharedResource["Details"]  </a>
        @{
            if(SubscriptionsIsNull.Plan.Reports==true){                
        <a href="/shop/reports/OrderShopInvoice?id=<%- data.OrderId %>">|@sharedResource["Invoice"] </a>
             
        }
        }
        </text>);                  

         })
        .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(false)
        .AllowAdding(false)
        .AllowDeleting(false)
        .Popup(p => p
        .Title("Vehicle Type Info")
        .ShowTitle(true)
        .Width(600)
        .Height(250)
        )
        )
        .Paging(paging => paging.PageSize(10))
        .Pager(pager =>
        {
        pager.Visible(true);
        pager.DisplayMode(GridPagerDisplayMode.Full);
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
        pager.ShowInfo(true);
        pager.ShowNavigationButtons(true);
        })
        .ShowBorders(true)
        .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
        )
        .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
       .Placeholder(sharedResource["SearchTxt"])
        )
        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(false)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
        )
    </div>

</div>