@page
@model Gameapp.Areas.Admin.Pages.CollectionsModel

@{
    ViewData["Title"] = "Collections";
    Layout = "~/Areas/Admin/Pages/Shared/_Layout.cshtml";
    ViewData["active"] = "active";

}



<div class="card">
    <div class="card-header">
        <h3 style="margin-top:9px; color:#4b49ac"> @sharedResource["Collections"]  </h3>
    </div>
    <div style="padding-top:20px;padding-left:20px;padding-right:20px">

        @(Html.DevExtreme().DataGrid<Gameapp.Models.Collection>()
        .DataSource(ds => ds.Mvc()
        .Controller("Collections")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("CollectionId")
        )
        .RemoteOperations(true)
        .Columns(columns => {

            columns.AddFor(m => m.CollectionTitleAr).Caption(sharedResource["TlAr"]);

            columns.AddFor(m => m.CollectionTitleEn).Caption(sharedResource["TlEn"]);

            columns.AddFor(m => m.Source).Caption(sharedResource["Source"]);

            columns.AddFor(m => m.IsActive).Caption(sharedResource["IsActive"]); ;
        })
     .Editing(e => e.Mode(GridEditMode.Popup)
.Texts(c => c.CancelRowChanges(sharedResource["Cancel"]).DeleteRow(sharedResource["Delete"]).SaveRowChanges(sharedResource["Save"]).EditRow(sharedResource["Edit"]).AddRow(sharedResource["Add"]).ConfirmDeleteMessage(sharedResource["Are you sure you want to delete this record?"]))
        .AllowUpdating(true)
        .AllowAdding(true)
        .AllowDeleting(true)
        .Popup(p => p
        .Title(sharedResource["Collection"])
        .ShowTitle(true)
        .MaxWidth(700)
        .Height(300)).Form(f => f.Items(items =>
        {
            items.AddGroup()
            .ColCount(2)
            .ColSpan(2)
            .Items(groupItems =>
            {
                groupItems.AddSimple().DataField("CollectionTitleAr");
                groupItems.AddSimple().DataField("CollectionTitleEn");
                groupItems.AddSimple().DataField("Source");
                groupItems.AddSimple().DataField("IsActive");

            });
        }))
        )
        .Paging(paging => paging.PageSize(10))
        .Pager(pager =>
        {
            pager.Visible(true);
            pager.DisplayMode(GridPagerDisplayMode.Full);
            pager.ShowPageSizeSelector(true);
            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
            pager.ShowInfo(true);
            pager.ShowNavigationButtons(true);
        })
        .ShowBorders(true)
        .FilterRow(filterRow => filterRow
        .Visible(true)
        .ApplyFilter(GridApplyFilterMode.Auto)
        )
        .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
         .Placeholder(sharedResource["SearchTxt"]))
        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(false)
        .ShowRowLines(true)
        .RowAlternationEnabled(true)
        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
        )

    </div>
</div>