@page
@model Gameapp.Areas.Admin.Pages.PageContentModel
@{
}


<div class="card">
<div class="card-header">
    <h3 style="margin-top:9px; color:#4b49ac"> @sharedResource["PagesContent"]</h3>
</div>

<div style="padding-top:20px;padding-left:20px;padding-right:20px">
    @(Html.DevExtreme().DataGrid<Gameapp.Models.PageContent>()
    .DataSource(ds => ds.Mvc()
        .Controller("PageContents")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {



        columns.AddFor(m => m.PageTitle).Caption(sharedResource["PageTitle"]);

        columns.AddFor(m => m.Content).Caption(sharedResource["Content"]);

            columns.Add().Caption(sharedResource["Actions"]).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                <a href="/Admin/EditPageContent?id=<%- data.Id %>">@sharedResource["Edit"]   </a>
            </text>);

    })
 .Editing(e => e.Mode(GridEditMode.Popup)
    .AllowUpdating(false)
    .AllowAdding(false)
    .AllowDeleting(false)
    .Popup(p => p
    .Title("Add New PageContent")
    .ShowTitle(true)
    .MaxWidth(750)
    .Height(240)).Form(f => f.Items(items =>
    {
        items.AddGroup()
            .ColCount(2)
            .ColSpan(2)
            .Items(groupItems =>
            {
                groupItems.AddSimple().DataField("PageTitle");
                groupItems.AddSimple().DataField("Content");


            });

    }))
    )

    .ShowBorders(true)
    .FilterRow(filterRow => filterRow
    .Visible(true)
    .ApplyFilter(GridApplyFilterMode.Auto)
    )
    .SearchPanel(searchPanel => searchPanel
    .Visible(true)
    .Width(240)
    
    .Placeholder(sharedResource["SearchTxt"])
    )
    .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(false)
    .ShowRowLines(true)
    .RowAlternationEnabled(true)
     .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
    )
</div>

    </div>