@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}



<div class="card" style="margin-top:200px">

    <div style="padding-top:20px;padding-left:20px;padding-right:20px; text-align:center">

    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>

    </div>
</div>