@page
@model Gameapp.Pages.SomethingwentErrorModel
@{
    Layout = null;
    ViewData["Title"] = "Error";
}
<!DOCTYPE html>
<html>
<head>
    
        
        <link rel="stylesheet" href="StyleSheet.css" >
    
</head>
<body>
    <div class="errorModule">
        <div class="errorIcon">
            <i class="fa fa-unlink"></i>
        </div>
        @{ if (Model.ErrorMessage != null)
            {
                <div class="errorMsg">
                @Model.ErrorMessage</div>
            }
            else
            {
                <div class="errorMsg">Oops! Something went Wrong. Try Again</div>
            }
        }

    </div>

</body>
</html>


