@page
@model Gameapp.Areas.Admin.Pages.ChampionsTypes.IndexModel
@{
    ViewData["active"] = "active";

}
<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Champions Types"]
                            <a asp-page="Add" class="btn btn-primary">@sharedResource["Add"]  @sharedResource["Champion Type"]  </a>
                        </h2>
                    </div>
                    <div class="card-body">




                        @(Html.DevExtreme().DataGrid<Gameapp.Models.ChampionType>()
        .DataSource(ds => ds.Mvc()
        .Controller("ChampionTypes")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
                        )
                        .Columns(columns => {
                              


                        columns.AddFor(m => m.NameAr).Caption(sharedResource["TlAr"]);
                        columns.AddFor(m => m.NameEn).Caption(sharedResource["TlEn"]);

                        

                        


                        columns.Add().Caption(sharedResource["Actions"]).Width(200).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>

                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-sm"  href="/Admin/ChampionsTypes/Details?id=<%- data.Id %>"> <i class="fas fa-eye"></i> </a>
                                <a class="btn btn-success btn-sm mx-2"  href="/Admin/ChampionsTypes/Edit?id=<%- data.Id %>">  <i class="fas fa-edit"></i> </a>

                                 <a class="btn btn-danger btn-sm" href="/Admin/ChampionsTypes/Delete?id=<%- data.Id %>">  <i class="fas fa-trash"></i> </a>
                            </div>
                            </text>);

                        })
                          .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
                        .HeaderFilter(headerFilter => headerFilter.Visible(true)).ShowColumnLines(true)
                        .ShowRowLines(true)
                        .RowAlternationEnabled(true)
                        .AllowColumnReordering(true)
                        .ShowRowLines(true)
                        .ShowBorders(true)
                        .SearchPanel(searchPanel => searchPanel
                        .Visible(true)
                        .Width(240)
                        .Placeholder(sharedResource["SearchTxt"]))
                        .RemoteOperations(true)
                        .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                                        )

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>